.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.task-input {
  border: 2px solid #d1d5db;
  outline: none;
}
.task-input:focus {
  border-color: #3b82f6;
}
.task-input.error {
  border-color: #ef4444 !important;
}

.task-input.error:focus {
  border-color: #dc2626 !important;
}
